.see-more{
  background-color: black; 
  font-weight: bold;
    border-radius: 5px;
    height: 30px;
}
.hero-section-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cta-btn{
  color: rgb(110, 4, 25);
}
 